/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
body{
    height:100vh;
    }

article {
    background-color: black;
    padding: 0.5em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: calc(4.5em + 4.5vw);
    font-family: 'Roboto', sans-serif;
    color: rgb(251, 251, 251);
    line-height: 1em;
    text-align:center;

}/* {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 10em;
    text-align:center;
} */





